body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("images2.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
}

.note-section,
.todo-section {
  background: transparent;
  backdrop-filter: blur(10px);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 10px #212147;
}

textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  margin-bottom: 10px;
  border-radius: 10px;
}

button {
  padding: 8px 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

.toggle-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  color: #fff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(175, 92, 143);
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #3e34ab;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background: white;
}

.dark-mode {
  background-color: #000;
  color: #fff;
}

.credits {
  position: fixed;
  bottom: 10px;
  right: 10px;
  color: #999;
  font-size: 12px;
}
